@import '../abstracts/mixins';
@import '../abstracts/variables';

.aside-container {
  background-color: var(--Purple);
  display: flex;
  flex-direction: row;
  width: 300px;
  height: 100%;
  position: fixed;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all .3s ease;
}
.aside-container::-webkit-scrollbar {
	display: none;
}

.aside-section-workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50px;
  border-top: 1px solid #492451;
  border-right: 1px solid #492451;
}

.aside-button-workspace-A {
  @include aside-button-workspace(20px, 8px, 2px, 8px, none);
}
.aside-button-workspace-B {
  @include aside-button-workspace(8px, 8px, 8px, 8px, none);
}

.aside-button-workspace-selected {
  @include aside-button-workspace(2px, 2px, 2px, 2px, none);
}
.aside-selected-button {
  border-radius: 8px;
  border: 2px solid white;
}
.aside-button-workspace-plus {
  cursor: pointer;
  margin-top: 30px;
  color: var(--White);
  background-color: var(--Purple);
  border: none;
  font-size: 24px;
  opacity: 0.7;
  &:hover {
    color: gray;
    opacity: 0.7;
  }
}

.aside-section-channels {
  display: flex;
  flex-direction: column;
  width: 250px;
  border-top: 1px solid #492451;
  border-right: 1px solid #492451;
}
.aside-channels-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--White);
  padding: 20px;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
}
.aside-channels-header p, i {
  cursor: pointer;
}

.aside-header-channels {
  overflow-y: auto;
  border-top: 1px solid #492451;
  border-right: 1px solid #492451;
  line-height: 29px;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all .3s ease;
}
.aside-header-channels::-webkit-scrollbar {
	display: none;
}
#icon__header-aside {
  position: absolute;
  font-size: 27px;
  font-weight: 100;
  line-height: 28px;
  right: 20px;
}
.list-channels-options-subtitles {
  @include list-channels-styles(8px, 0px);
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
#icon-channel {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;

}
.p-channels-options-subtitles {
  margin-left: 8px;
  font-weight: var(--font-bold);
  cursor: pointer;
}
.aside-section-channels-options {
  @include aside-section-channels(0px);
}
.aside-section-channels-channels {
  @include aside-section-channels(16px);
  margin-left: 11px;
  font-weight: 400;
}
.aside-section-channels-directs {
  @include aside-section-channels(16px);
  margin-left: 11px;
}
.list-channels-options {
  @include list-channels-styles(8px, 0px);
  
}
.list-channels-dropdown {
  @include list-channels-styles(8px, 15px);
  cursor: pointer;
}
.list-channels-dropdown-direct {
  @include list-channels-styles(8px, 0px);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  cursor: pointer;
}
.list-channels-dropdown-direct img {
  height: 21px;
  width: 21px;
}
.p-user-slack {
  opacity: 0.5;
}
.span-user-active {
  position: relative;
  height: 0px;
  width: 0px;
  top: 7px;
  left: -86px;
  border: 4px solid rgb(98, 227, 108);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px var(--Purple);
}
.span-user-desactive {
  position: relative;
  background-color: gray;
  height: 4px;
  width: 4px;
  top: 7px;
  left: -62px;
  border: 2px solid gray;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px var(--Purple);
}
.list-channels-add-channels {
  @include list-channels-styles(8px, 15px);
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  cursor: pointer;
}
.button-add-channels {
  background-color: #570f63;
  border-radius: 5px;
  border: none;
  color: var(--White);
  padding: 2px 6px;
  margin-right: 6px;
}

.list-channels-name {
  &:hover {
    position: relative;
    background-color: #570f63;
  }
}
.list-channels-name-directs {
  padding: 0px 10px;
}
#li__hidden {
  width: 100%;
  height: 55px;
  opacity: 0;
}

@media (max-width: 979px) {
  .aside-container {
    width: 270px;
  }
}
@media (max-width: 620px) {
  .aside-container {
    display: none;
  }
}
@media (max-width: 450px) {
  .aside-container {
    display: flex;
    min-width: 100vw;
    width: 100%;
  }
  .aside-channels-header {
    max-width: 100vw;
    width: 100%;
  }
  .aside-section-channels {
    max-width: 100vw;
    width: 100%;
  }
  #icon__header-aside {
    right: 60px;
  }
}
@media (max-height: 450px) {
  .aside-container {
    display: none;
  }
}
