@import '../abstracts/mixins';
@import '../abstracts/variables';
.div-direct-message-user{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  &:hover{
    background-color: #570f63;
      width: 100%;
  }
}

.list-channels-name-directs {
    padding: 0px 10px;
  }
  .span-user-active {
    position: absolute;
    height: 0px;
    width: 0px;
    top: 25px;
    left: 16px;
    border: 4px solid #56A97A;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px var(--Purple);
  }

  .span-user-desactive {
    position: absolute;
    background-color: gray;
    height: 4px;
    width: 4px;
    top: 25px;
    left: 16px;
    border: 2px solid gray;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 2px var(--Purple);
  }

  .list-user-dropdown-direct {
    position: relative;
    @include list-channels-styles(8px, 0px);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    cursor: pointer;
  }
  .list-user-dropdown-direct img {
   
    height: 21px;
    width: 21px;
  }