.chat__header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 80px;
  border-bottom: 1px solid var(--gray);
  background-color: var(--White);
  z-index: 100;

  &-left {
    display: relative;
    margin-left: 3rem;
    padding: 0;
    line-height: 1.2;
  }
  &-left .online {
    position: absolute;
    top: 25px;
    left: 30px;
    background-color: #76aa7c;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  &-left span {
    font-size: var(--Font-md);
  }
  &-right {
    display: flex;
    font-size: 25px;
    font-weight: 700;
    color: #606060;
  }
  &-right i {
    margin-right: 1rem;
  }
  &-right-users {
    position: relative;
    margin-right: 1rem;
  }
  &-right-users img {
    position: absolute;
    border-radius: 3px;
   
  }
  &-right-users .img-right3 {
    right: 35px;
    width: 20px;
    height: 20px;
  }
  &-right-users .img-right2 {
    right: 15px;
    width: 20px;
    height: 20px;
  }
  &-right-users .img-right1 {
    right: -5px;
    width: 20px;
    height: 20px;
  }
  @media (max-width: 768px) {
    &-right-users {
      display: none;
    }
  }
}

@media (max-height: 450px) {
  .chat__header {
    height: 55px;
  }
  .chat__header-right-users {
    display: block;
  }
}
