.reaction__div-chat {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 120px;
  height: 38px;
  border: 1px solid var(--gray);
  border-radius: 8px;
  background-color: var(--White);
  font-size: 22px;
  font-weight: 400;
  color: #6f6f6f;
  text-align: center;
  top: -20px;
  right: 40px;
  z-index: 500;
  & i {
    margin-left: 0.6rem;
    margin-right: 0.6rem;
  }
}


.button_like_container {
  background-color: #c3e5ff;
  padding-top: 4px;
  border-radius: 10px;
  cursor: pointer;
}
.button_outlike_container{
  cursor: pointer;
}

.button_thread_message{
  cursor: pointer;
}