.container-input-chat {
  width: 95%;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin: 0 auto;
}
.container-icon-link {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  align-items: center;
  height: 24px;
  padding: 1px 3px 1px 3px;
  border-top: 1px solid #E1E1E1;
  border-radius: 0 0 4px 4px;
}
#lightning {
  position: relative;
}

textarea {
  border-radius: 4px 4px 0 0;
  width: calc(100% - 6px);
  height: 65px;
  outline: none;
  border-style: none;
  border-color: Transparent;
  overflow: auto;
  resize: none;
}
.v-line {
  border: 1px solid #dfdfdf;
  height: 0px;
  width: 16px;
  position: absolute;
  top: 9px;
  left: 15px;
  transform: rotate(90deg);
}
.icon-link {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  cursor: pointer;
}
.icon-link i {
  margin-left: 6px;
  margin-right: 4px;
  font-size: 14px;
  color: #939393;
}
.icon-link:hover {
  border-radius: 4px;
  background-color: #dbdbdb;
}
@media (max-width: 1100px) {
  #thread__icon-hidden {
    display: none;
  }
}
