.thread__section-container {
  height: 100vh;
  width: 100%;
  background-color: #FFF;
}
.main__thread-header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 80px;
  background-color: var(--White);
  z-index: 100;
}
.main__thread-header .thread-header-left {
  margin-left: 1.5rem;
  padding: 0;
  line-height: 1.2;
}
.main__thread-header .thread-header-left p {
  color: #616061;
}
.thread-header-right {
  font-size: 20px;
  font-weight: 400;
  color: #606060;
}
.main__thread-content {
  display: flex;
  background-color: #FFF;
  flex-direction: column;
  height: calc(100vh - 320px);
  overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
.main__thread-content::-webkit-scrollbar {
	display: none;
}
.chat-input-thread {
  position: fixed;
  height: 130px;
  width: 390px;
  bottom: 22px;
  background-color: #FFF;
}
.thread__header-right-button-close {
  border: none;
  background-color: #FFF;
  margin-right: 1rem;
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  color: #616061;
}

@media (max-width: 1100px) {
  .chat-input-thread {
    width: 300px;
  }
}
