.main__full-container {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
}
.main__section-main {
  position: relative;
  width: calc(100vw - 300px);
  height: calc(100vh - 40px);
  background-color: #fff;
  left: 300px;
}
.main__div-chat {
  height: calc(100vh - 40px);
  position: fixed;
  left: 300px;
  width: calc(100vw - 690px);
  background-color: #fff;
}
.main__div-chat-without_aside {
  height: calc(100vh - 40px);
  position: fixed;
  left: 0px;
  width: calc(100vw - 690px);
  background-color: #fff;
}
.main__div-chat-full {
  height: calc(100vh - 40px);
  position: fixed;
  left: 300px;
  width: calc(100vw - 300px);
  background-color: #fff;
}

.main__div-chat-container {
  display: flex;
  max-width: 500px;
  align-items: center;
  margin-bottom: 30px;
}

.main__section-chat-image {
  height: calc(100vh - 40px);
  position: fixed;
  left: 300px;
  min-width: 100%;
  background-image: url('https://cdn.wallpapersafari.com/46/27/ZWbv3h.jpg');
  background-position: center center;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.main__container {
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  color: white;
  margin-top: 112px;
  margin-left: 50px;
  padding: 24px;
}
.main__container h2 {
  font-size: 40px;
  font-weight: 1000;
  // margin-bottom: 18px;
  margin-left: 30px;
}
.main__container p {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.6;
  margin-bottom: 24px;
}

.main__img-chat {
  width: 50px;
  border-radius: 50%;
}

.main__img-chat {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: inherit;
}

.chat__div-message {
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 270px);
  background-color: #fff;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
}
.chat__div-message::-webkit-scrollbar {
  display: none;
}
.chat__div-input {
  position: fixed;
  margin: 0 5px;
  height: 100px;
  width: calc(100vw - 720px);
  bottom: 5px;
  background-color: #fff;
  padding: 2px;
}
.chat__div-input-full {
  position: fixed;
  margin: 0 5px;
  height: 100px;
  width: calc(100vw - 300px);
  bottom: 0;
  background-color: #fff;
  padding: 2px;
}

.main__div-thread {
  height: calc(100vh - 40px);
  width: 390px;
  position: fixed;
  right: 0;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}
.div-show-profile-optioncs {
  position: absolute;
  left: calc(100% - 312px);
  // @media (max-width: 500px) {
  //   display: none;
  // }
}

@media (max-width: 1100px) {
  .main__div-thread {
    max-width: 300px;
  }
  .main__div-chat {
    width: calc(100vw - 600px);
  }
  .chat__div-input {
    width: calc(100vw - 600px);
  }
}
@media (max-width: 979px) {
  .main__div-chat {
    width: calc(100vw - 300px);
    left: 0px;
  }
  .main__div-chat-full {
    width: calc(100vw - 0px);
    left: 0px;
  }
  .chat__div-input {
    width: calc(100vw - 300px);
  }
  .main__section-chat-image {
    left: 0px;
  }
}
@media (max-width: 620px) {
  .main__div-thread {
    // display: none;
    // right: -300px;
  }
  .main__div-chat {
    width: 100vw;
    left: 0px;
  }
  .main__div-chat-full {
    width: 100vw;
    left: 0px;
  }
  .chat__div-input {
    width: 100vw;
  }
  .main__container {
    margin: 0 24px;
    margin-top: 40px;
  }
}
@media (max-width: 450px) {
  .section-main__view {
    z-index: 109;
  }
}
@media (max-height: 450px) {
  .main__div-chat {
    width: 100vw;
    left: 0px;
  }
  .main__div-chat-full {
    width: 100vw;
    left: 0px;
  }
  .chat__div-input {
    width: 100vw;
    left: 0px;
    height: 100px;
  }
  .chat__div-message {
    height: calc(100vh - 205px);
  }
}
