.main__full-container {
  width: 100vw;
  height: calc(100vh - 40px);
  display: flex;
}
.main__section-main {
  position: relative;
  width: calc(100vw - 300px);
  height: calc(100vh - 40px);
  background-color: #fff;
  left: 300px;
}
.main__div-chat {
  height: calc(100vh - 40px);
  position: fixed;
  left: 300px;
  width: calc(100vw - 690px);
  background-color: #fff;
}
.main__div-chat-full {
  height: calc(100vh - 40px);
  position: fixed;
  left: 300px;
  width: calc(100vw - 300px);
  background-color: #fff;
}

.chat__div-message {
  display: flex;
  padding-top: 18px;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 230px);
  background-color: #fff;
  overflow-y: auto;
  overflow-x: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
}
.chat__div-message::-webkit-scrollbar {
  display: none;
}
.chat__div-input {
  position: fixed;
  height: 100px;
  width: calc(100vw - 690px);
  bottom: 0;
  background-color: #fff;
  padding: 2px;
}

.main__div-thread {
  height: calc(100vh - 40px);
  width: 390px;
  position: fixed;
  right: 0;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}

@media (max-width: 1100px) {
  .main__div-thread {
    max-width: 300px;
  }
  .main__div-chat {
    width: calc(100vw - 600px);
  }
  .chat__div-input {
    width: calc(100vw - 600px);
  }
}
@media (max-width: 979px) {
  .main__div-thread {
    display: none;
  }
  .main__div-chat {
    width: calc(100vw - 270px);
    left: 270px;
  }
  .chat__div-input {
    width: calc(100vw - 270px);
  }
}
@media (max-width: 620px) {
  .main__div-chat {
    width: 100vw;
    left: 0px;
  }
  .chat__div-input {
    width: 100vw;
  }
}
@media (max-width: 450px) {
  .main__section-main {
    display: none;
  }
}
@media (max-height: 450px) {
  .main__div-chat {
    width: 100vw;
    left: 0px;
  }
  .chat__div-input {
    width: 100vw;
    left: 0px;
    height: 100px;
  }
  .chat__div-message {
    height: calc(100vh - 157px);
  }
}
