.mainForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__form {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
  
  }
  &__link {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    margin: auto;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .pin__magic {
    text-align: justify;
  }
  &__link a {
    text-decoration: none;
    color: #1264a3;
  }
  &__link a:hover {
    text-decoration: underline #105b95;
    color: #105b95;
  }
}

.mainForm__form-label {
  margin-top: 8px;
}
.mainForm__form-input {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  color: #606060;
  margin-top: 4px;
}

.button-form-login-register{
  padding: 10px;
  max-width: 400px;
  width: 100%;
  background-color: #611f69;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 20px;

  &:hover {
    background-color: #73257c;
  }
}

.input__error {
  color: #bf1650;
}

