.modal-user-edit {
  font-size: var(--Font-sm);
  font-weight: var(--font-medium);
}
.title {
  font-size: var(--Font-lg);
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.container-edit-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.containerA {
  width: 90%;  
  margin: 0 10px 20px 0;
}
.containerB {
  width: 45%;
  margin-right: 10px;

  img {
    margin-top: 25px;
    width: 150px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
}
.subcontainer-input {
  text-align: justify;
  width: 230px;
  margin-top: 13px;
}
.subcontainer-input input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  font-size: 12px;
  margin: 5px 0;
}

.button-image {
  margin: 3px 0 3px 0;
}
.button-edit {
  display: flex;
  flex-direction: column;
}
.button-edit {
  button {
    margin: 5px 0 5px 0;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(188, 171, 188);
    height: 25px;
    font-weight: 500;
    font-size: 12px;
  }
}
.button-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;

  button {
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgb(188, 171, 188);
    height: 25px;
    font-weight: 500;
    font-size: 12px;
    padding: 0 8px;
  }
}


.span__button-upload {
  border-radius: 3px;
  color: white;
  font-weight: 500;
  font-size: 12px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--Purple);
  
  &:hover{
    background-color: var(--Purple-navbar);
  }
}

.div__preview-image{
  p{
    margin-top: 5px;
    font-size: 12px;
    color: gray;
  }
  img{
    width: 100px;
    height: 100px;
  }
}

.button-submit {
  margin-right: 10px;
}

.button-transparent,
.button-delete {
  background-color: transparent;
}
.button-delete {
  border: none;
  color: #1164a3;
}
.button-delete:hover {
  text-decoration-line: underline;
}
.button-transparent:hover {
  background-color: rgb(239, 239, 239);
}
.button-save {
  background-color: var(--Purple);
  color: #fff;
  &:hover{
    background-color: var(--Purple-navbar);
  }
}
.button-nosave {
  background-color: rgb(195, 120, 218);
  color: #fff;
  cursor: default;
  padding: 4px;
  border: 1px solid #FFF;
  border-radius: 3px;
}
