.modal-become-premium__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 20px;
  height: 210px;
}
.modal-become-premium__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
.modal-become-premium__text {
  font-size: 16px;
  margin-bottom: 20px;
}
